.icon-directory:before {
    content: "";
    border: 2px solid #404959;
    height: 52px;
    width: 64px;
    display: block;
    border-radius: 3px;
}

.icon-directory:after {
    content: "";
    border: 2px solid #404959;
    width: 64px;
    height: 40px;
    background: #404959;
    display: inline-block;
    transform: translateY(-100%) skewX(-20deg) translateX(14%);
    border-radius: 3px;
}

.icon-file:before {
    content: "F";
    font-size: 1.8em;
    border: 2px solid #404959;
    height: 64px;
    width: 50px;
    display: block;
    border-radius: 3px;
}

.icon-image {
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.icon-directory,.icon-file {
    flex: none;
    padding-top: 20%;
}

.navbar__logo {
    &::before {
        content: "vywrs>";
    }
    filter: drop-shadow(0px 2px 2px rgb(44, 33, 73));
    height: 100%;
    flex-shrink: 0;
    width: 6.5rem;
    padding-top: 0.25rem;
    text-align: center;
}

.navbar__back {
    height: 100%;
    padding-top: 0.25rem;
    &:before {
        content: "[up]";
    }
}

.navbar__location {
    margin-top: 0;
    margin-left: 0.4rem;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    padding-top: 0.25rem;
    &-home:before {
        content: "\01F408[root]";
    }
}

.navbar__viewmode {
    flex-shrink: 0;
    flex-grow: 0;
    width: 4.4rem;
    margin-left: auto;
    display: flex;

    &:hover {
        cursor: pointer;
    }

    &-thumbnail {
        &::before {
            content: "\01F5BC";
        }
        &-container {
            padding-top: 0.25rem;
            &:hover {
                background: #dadada;
            }
        }
        width: 2.2rem;
    }
    &-list {
        &::before {
            content: "\01F4C3";
        }
        &-container {
            padding-top: 0.25rem;
            &:hover {
                background: #dadada;
            }
        }
        width: 2.2rem;
    }
}

.rows__item {
    &-filename {
        padding: 7px;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
        min-width: 50%;
    }
    &-filesize {
        max-width: 8rem;
        min-width: 6rem;
        padding: 7px;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
    }
    &-filedate {
        max-width: 24rem;
        padding: 7px;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
    }
    &-meta {
        display: flex;
        max-width: 32rem;
        margin-left: auto;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
    }
}