.icon-directory:before {
    content: "";
    border: 2px solid #404959;
    height: 52px;
    width: 64px;
    display: block;
    border-radius: 3px;
}

.icon-directory:after {
    content: "";
    border: 2px solid #404959;
    width: 64px;
    height: 40px;
    background: #404959;
    display: inline-block;
    transform: translateY(-100%) skewX(-20deg) translateX(14%);
    border-radius: 3px;
}

.icon-file:before {
    content: "F";
    font-size: 1.8em;
    border: 2px solid #404959;
    height: 64px;
    width: 50px;
    display: block;
    border-radius: 3px;
}

.icon-image {
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.icon-directory,.icon-file {
    flex: none;
    padding-top: 20%;
}

.navbar__menu {
    margin-left: auto;
    width: 2rem;

    > div {
        display: none;
    }

    &:hover {
        cursor: pointer;

        > div {
            display: block;
        }
    }

    &--about {
        color: $gray-1;
    }

    &--icon {
        &::before {
            content: "\01F39B";
            margin-right: 0.5rem;
        }
    }

    &--content {
        position: absolute;
        padding: 0.4rem;
        z-index: 2;
        font-size: 1rem;
        top: 2.8rem;
        right: 0;
        &.dark {
            background: $dark-2-rgb;
        }
        &.light {
            background: $gray-2;
        }
    }

    &--viewmode {
        display: flex;
        &--thumbnail {
            margin-left: auto;
            text-align: center;
            width: 35%;

            &:hover {
                background: $highlight-1;
            }

            &::before {
                content: "\01F4F8";
            }
        }

        &--list {
            margin-left: auto;
            text-align: center;
            width: 35%;

            &:hover {
                background: $highlight-1;
            }

            &::before {
                content: "\01F4DC";
            }
        }
    }

    &--theme {
        display: flex;
        &--dark {
            margin-left: auto;
            text-align: center;
            width: 35%;

            &:hover {
                background: $highlight-1;
            }

            &::before {
                content: "\01F30C";
            }
        }

        &--light {
            margin-left: auto;
            text-align: center;
            width: 35%;

            &:hover {
                background: $highlight-1;
            }

            &::before {
                content: "\01F324";
            }

        }
    }
}

.navbar__logo {
    &::before {
        content: "vywrs>";
    }
    filter: drop-shadow(0px 2px 2px rgb(44, 33, 73));
    height: 100%;
    flex-shrink: 0;
    width: 6.5rem;
    text-align: center;
}

.navbar__back {
    height: 100%;
    &::before {
        content: "[up]";
    }
}

.navbar__location {
    margin-left: 0.4rem;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    &-home:before {
        content: "\01F408[root]";
    }
}

.navbar__viewmode {
    flex-shrink: 0;
    flex-grow: 0;
    width: 4.4rem;
    margin-left: auto;
    display: flex;

    &:hover {
        cursor: pointer;
    }

    &-thumbnail {
        &::before {
            content: "\01F5BC";
        }
        &-container {
            &:hover {
                background: #dadada;
            }
        }
        width: 2.2rem;
    }
    &-list {
        &::before {
            content: "\01F4C3";
        }
        &-container {
            &:hover {
                background: #dadada;
            }
        }
        width: 2.2rem;
    }
}

.rows__item {
    &-filename {
        padding: 0.25rem;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
        min-width: 50%;
    }
    &-filesize {
        max-width: 8rem;
        min-width: 6rem;
        padding: 0.25rem;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
    }
    &-filedate {
        max-width: 24rem;
        padding: 0.25rem;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
    }
    &-meta {
        display: flex;
        max-width: 32rem;
        margin-left: auto;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
    }

    .directory::before {
        content: "📁 ";
    }

    .file::before {
        content: "📃 ";
    }

    .image::before {
        content: "🖼️ ";
    }
}
